@model Entities.Teacher
@{
    ViewBag.Title = "UpdateInformation";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<style>
    a {
        text-decoration: none;
    }

    .btnUpdate {
        width: 230px;
        height: 60px;
        font-size: x-large;
        background-color: #5cb85c !important;
    }

        .btnUpdate:hover {
            background: #fff !important;
            color: #444 !important;
            border: 2px solid #444 !important;
            box-shadow: none;
            outline: none;
        }

    .btnCancel {
        width: 230px;
        height: 60px;
        font-size: x-large;
    }

        .btnCancel:hover {
            background: #fff !important;
            color: #444 !important;
            border: 2px solid #444 !important;
            box-shadow: none;
            outline: none;
        }
</style>
<h1 style="text-align:center">Bilgilerimi Güncelle</h1>
<form method="post" action="/Teacher/Update">
    <div class="row">
        <div id="Message" style="display:none" class="text-center alert alert-success">@TempData["Message"]</div>
        <div id="error-message" style="display:none" class="text-center alert alert-danger">@TempData["ErrorMessage"]</div>
    </div>
    <div class="form-group">
        <label>Adı :</label>
        <input type="text" class="form-control" name="firstName" value="@Model.FirstName" />
    </div>
    <div class="form-group">
        <label>Soyadı :</label>
        <input type="text" class="form-control" name="lastName" value="@Model.LastName" />
    </div>
    <div class="form-group">

        @if (Session != null)
        {
            <label>Yeni Şifreniz: </label>
            <input type="password" class="form-control" name="password" value="@Model.Password" />
        }
        <input type="hidden" name="id" value="@Model.ID" />

    </div>
    <div class="form-group">

        <button class="col-md-4 col-lg-4 col-sm-4 col-xs-4 btn btn-success btnUpdate form-control">Güncelle</button>
        <a href="/Student/Index" class="col-md-offset-4 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4 btn btn-danger pull-right btnCancel form-control">İptal</a>
    </div>
</form>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>
    if ($("#error-message").html() != "") {
        $("#error-message").slideDown();
        setTimeout(function () {
            $("#error-message").slideUp();
        }, 5000)
    }
    if ($("#Message").html() != "") {
        $("#Message").slideDown();
        setTimeout(function () {
            $("#Message").slideUp();
        }, 5000)
    }
</script>



